<% include ./boilerplate %>

<div class="main">
  <h1>Person View</h1>
  <hr/>
  <div class="contact">
    <p><%= contact.prefix %> <%= contact.fname %> <%= contact.mname %> <%= contact.lname %> <%= contact.suffix %></p>
    <p><%= contact.address %></p>
    <p><%= contact.city %>, <%= contact.state %> <%= contact.zipcode %></p>
  </div>
