<% include ./boilerplate %>

<div class="main">
<div class="topbar">
  <h1>PERSON VIEW</h1>
</div>
  <div class="contact">
    <p><%= contact.prefix %> <%= contact.fname %> <%= contact.mname %> <%= contact.lname %> <%= contact.suffix %></p>
    <p><%= contact.address %></p>
    <p><%= contact.city %>, <%= contact.state %> <%= contact.zipcode %></p>
  </div>
