<% include ./partials/personInfo %>

  <form action="/notes/<%= data.id %>/edit?_method=put" method="post">
    <div class="searchcontainer">
      <div class="namesearch">
        <label for="date">Date</label>
        <input type="date" id="date" name="notedate" value="<%= data.notedateinput %>">
        <br />
        <label for="category">Category</label>
        <input type="text" id="category" name= "category" list="cats" value="<%= data.category %>">
          <datalist id="cats">
            <% category.forEach( (d) => { %>
                <option value="<%= d.category %>"><%= d.category %></option>
            <% }) %>
          </datalist>
      </div>
      <div class="addysearch">
        <select name="fundraiserid" id="fundraiser">
          <% fundraiser.forEach( (d) => { %>
            <% if(d.id === data.fundraiserid) { %>
              <option value="<%= d.id %>" selected><%= d.fname %> <%= d.lname %></option>
            <% } else { %>
              <option value="<%= d.id %>"><%= d.fname %> <%= d.lname %></option>
            <% } %>
          <% }) %>
        </select>
        <label for="fundraiser">Fundraiser</label>
        <br />
        <select name="followup" id="followup">
          <% if(data.followup === true) { %>
            <option value="true" selected>Need Follow Up</option>
            <option value="false">Up To Date</option>
          <% } else { %>
            <option value="false" selected>Up To Date</option>
            <option value="true">Need Follow Up</option>
          <% } %>
        </select>
        <label for="followup">Follow Up</label>
      </div>
    </div>
    <div class="miscnewperson">
      <label for="note">Note</label><br/>
    </div>
    <div class="miscnewperson">
      <textarea name="note" rows="10" cols="85" id="note"><%= data.note %></textarea>
    </div>

<% include ./partials/saveCancelButtons %>
