<% include ./partials/personInfo %>

  <form action="/people/<%= contact.id %>/<%= contact.addressid %>/edit?_method=put" method="post">
    <label for="prefix">Prefix</label>
      <input type="text" id="prefix" name="prefix" value="<%= contact.prefix %>">
    <label for="fname">First Name</label>
      <input type="text" id="fname" name="fname" value="<%= contact.fname %>">
    <label for="mname">Middle Name</label>
      <input type="text" id="mname" name="mname" value="<%= contact.mname %>">
    <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lname" value="<%= contact.lname %>">
    <label for="suffix">Suffix</label>
      <input type="text" id="suffix" name="suffix" value="<%= contact.suffix %>">
    <br />
    <label for="address">Address</label>
      <input type="text" id="address" name="address" value="<%= contact.address %>">
    <br />
    <label for="city">City</label>
      <input type="text" id="city" name="city" value="<%= contact.city %>">
    <label for="state">State</label>
      <input type="text" id="state" name="state" value="<%= contact.state %>">
    <label for="zipcode">zipcode</label>
      <input type="text" id="zipcode" name="zipcode" value="<%= contact.zipcode %>">
    <br />
    <input type="hidden" name="main" value="true">
    <label for="onlyannualreceipt">Only Annual Receipts</label>
    <select name="onlyannualreceipt" id="onlyannualreceipt">
      <option value="true">True</option>
      <option value="false" selected>False</option>
    </select>
    <label for="isActive">Active?</label>
    <select id="isActive" name="active">
      <option value="true" selected>True</option>
      <option value="false">False</option>
    </select>


      <br />
    <hr />
    <input type="submit" value="Save">
  </form>
  <form action="/people/<%= contact.id %>" method="get">
    <input type="submit" value="Cancel">
  </form>
</div>

<% include ./partials/foot %>
